---
import { footerItems } from "@utils/settings";
---

<footer class="mt-20 mb-5">
  <nav class="flex justify-center mb-6">
    {
      footerItems.map((item, index) => (
        <a href={item.path} class="text-sm text-slate-500 hover:underline mx-2">
          {item.title}
        </a>
      ))
    }
  </nav>

  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Astroship. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a href="https://web3templates.com" target="_blank" rel="noopener" class="hover:underline"> Web3Templates</a>
  </p>
</footer>
