<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Oblicz podatek akcyzowy od samochodu</h1>
  <p class="text-lg mt-4 text-slate-600 max-w-xl">
    Podatek akcyzowy to podatek pośredni, który pobierany jest w momencie zakupu lub rejestracji pojazdu.<br /> Jego wysokość zależy od różnych czynników, takich jak rodzaj samochodu, jego pojemność skokowa, rodzaj paliwa czy emisja dwutlenku węgla.
  </p>
</main>
